.login {
    position: fixed;
    left: 100px;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    padding: 50px;
    border: 5px solid tomato;
    background: #fcfcfd;
    z-index: 100;

    img {
        width: 100px;
    }
}

.header-login {
    text-align: center;
}

.user-info {
    form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 5px;
        }

        input {
            padding: 5px 10px;
            border-radius: 3px;
            border: 1px solid #d3d3d3;
            margin-bottom: 10px;
        }

        button {
            cursor: pointer;
            background: tomato;
            color: beige;
            padding: 15px;
            transition: .3s all ease-in-out;
            border-radius: 3px;
            border: 1px solid #d3d3d3;
        }

        button:hover{
                background: #b03924;
        }
    }
}